.bg{
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5qb5a8LbryWLGDM3Zeas7qO4dQwTsqsKqsg&s'); */
    background-size: cover;
    height:130vh;
    text-align:center ;
}